extends layout

block content
  include templates/navbar
  .container-fluid
    .row
      .col.no-gutter-col
        #mapHere
          v-map(:zoom='zoom', :center='center')
            v-tilelayer(:url='url', :attribution='attribution')
            v-rectangle(v-for="rectangle in rectangles", :bounds='rectangle.coords')
              v-tooltip(:content="rectangle.hash", :options="options")
  include templates/modal
block scripts
  script(src="dist/index.js")
